body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #577cb8;
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    align-items: center;
}

.navbar-nav .dropdown-menu {
    background-color: #444;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: white;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #555;
}
.navbar.sticky {
    position: sticky;
    top: 0;
  }
